<div id="visualizations">
  <h3>Visualization 1: Font Size</h3>
  <div>
    <p id="visualization-help"><%= t "visualize.instructions" %> </p>

    <div id="chart_div" style="width: 450px; height: 250px;"></div>
    <ul id="highlighters">
      <% for facet in @prism.facets %>
        <li class="vis_facet vis_button">
      <input type="hidden" class="color" value="<%=facet.color%>"/>
      <input type="hidden" class="order" value="<%=facet.order%>"/>
      <input type="hidden" value="<%=@frequencies[facet.order]%>" class="freq"/>
      <span class="facet <%=facet.order%> <%=facet.color%>"></span><%=facet.description%></li>

    <% end %>
    </div>

    <h3>Visualization 2: Winning Facet</h3>
    <div>
      <li class="vis_button">
      <input type="hidden" class="color" value="winning"/>
      <input type="hidden" class="order" value=""/>
      <input type="hidden" value="<%=@frequencies[0]%>" class="freq"/>
      <span class="facet red green blue"></span>Winning Facet 
      </li>

      <span class="current-word" style="visibility:hidden"></span>
      <ul id="mousevoer-stats" style="visibility:hidden">
        <li><span class="red-percent red-vis"></span></li>
        <li><span class="green-percent green-vis"></span></li>
        <li><span class="blue-percent blue-vis"></span></li>
      </ul>

      <p id="visualization-help"><%= t "visualize.winningdescription" %> </p>
    </div>
  </ul>
  <p><%= render 'cc_license' %></p>
  <p id="viz-count">
  <span><% if @prism.word_markings.map(&:user_id).uniq != nil %>
    <%=@prism.word_markings.map(&:user_id).uniq.size %></span> <% if @prism.word_markings.map(&:user_id).uniq.size == 1%>user <% else%>users <%end%>contributed to this visualization.
<% end %>
  </p>
