<script>
// $(function(){
//     //Extracts the color data from every facet from html file
//     var all_colors = []
//     for (var facet in $("li.facet")){
//       var val = $("input", facet).val()
//       //Ignore eraser function
//       if (val != 'delete')
//         all_colors.push(val)
//     }
//     //Creates a hash for each facet (keys are colors, values are word numbers) that stores word numbers to show which numbers are marked for which color
//     var storage = {}
//     for (var color in all_colors)
//       storage[color] = {}    
//     //Regular expression to find a word number (searches element's class attribute for string "word") and strips first 5 characters ("word_")
//     function get_word_number(elt) {
//         var re = new RegExp("word_\\d+");
//         var match = re.exec($(elt).attr("class"))[0]
//         return parseInt(match.substring(5))
//     }
//     //Marks an element with a color
//     function mark(elt, color) {
//         var number = get_word_number(elt);
//         //defines eraser functionality (delete class color and remove word number from storage)
//         if (color == "delete") {
//             for (var color in all_colors)
//               $(elt).removeClass(color)
//             for (var key in storage) {
//                 delete storage[key][number];
//             }
//           // defines normal marking functionality
//         } else {
//             $(elt).addClass(color)
//             storage[color][number] = true
//         }
//         //take data in storage (hash of word numbers for each color), turn it into a string, and adding it to form (so data will be submitted when "submit" is clicked) 
//         for (var color in storage) {
//             var numbers = []
//             for (var number in storage[color])
//               numbers.push(parseInt(number))
//             var s = JSON.stringify(numbers)
//             //finds hidden input for a given color and sets its value to a string 
//             $("#"+color+"_indices").val(s);
//         }
//     }
// 
//     //This code tracks the marking.  Initially not in marking mode.
//     var currently_marking = false;
//     //starts with the first color
//     var current_color = "<%=@prism.facets[0].color%>";
//     //CSS selector for spans class=word. When mouse is clicked, start marking mode in the current color
//     $("span.word")
//         .mousedown(function(event) {
//             event.preventDefault();
//             currently_marking = true;
//             mark(this, current_color)
//         })
//       //Only marks text when the mouse is down
//         .mouseover(function() {
//             if (currently_marking)
//                 mark(this, current_color)
//         })
//       //Stop marking when mouse is released  
//     $("html").mouseup(function() {
//         currently_marking = false;
//     })
//     //Clicking on a facet sets the color
//     $("li.facet").click(function() {
//         current_color = $("input", this).val()
//     })
//     
//     
// })
</script>


<div class="page-margin">
  <div id="Prismabob">
    <h1><%= @document.title %></h1>
    <h2><%= @document.author %></h2>

    <div id='document'>
      <%= @document.content.html_safe %>
    </div>
    </div>
  </div>
  <form action="./highlight" method="POST">
    <% for facet in @prism.facets %>
      <input type="hidden" value="" name="<%=facet.color%>_indices" id="<%=facet.color%>_indices"/>
      <% end %>
      <input type="submit" value="Submit" />
  </form>
  <div id="tools">
      <ul id="highlighters">
        <% for facet in @prism.facets %>
          <li class="facet"><input type="hidden" value="<%=facet.color%>"/><%=facet.category%></li>
        <% end %>
        <li class="facet"><input type="hidden" value="delete"/>Eraser</li>
      </ul>
      <p id="highlighter-help">Twee umami carles whatever wes anderson, pitchfork williamsburg +1 brunch DIY letterpress sustainable mixtape sriracha master cleanse. Ethnic whatever messenger bag, cliche portland irony thundercats butcher vegan brunch master cleanse bushwick. Kale chips lo-fi semiotics pour-over viral, squid tofu brooklyn before they sold out twee letterpress ethical. Brunch before they sold out PBR tattooed terry richardson, echo park keffiyeh VHS sustainable authentic brooklyn mcsweeney's readymade. Put a bird on it odd future beard, pinterest narwhal messenger bag marfa. Fingerstache hoodie gentrify salvia synth. Flexitarian retro before they sold out squid post-ironic etsy VHS tattooed, cray pinterest single-origin coffee tumblr.
      </p>
  </div>
</div>


