<div class="page-margin">
  <p id="highlight_instructions"><%= t "highlight.instructions" %></p>
  <div id="Prismabob">
    <h1><%= @document.title.html_safe %></h1>
    <h2><%= @document.author %></h2>

    <div class="text">
      <%= @document.content.html_safe %>
    </div>
  </div>
  <div id="sidebar">
    <div id="tools">
        <ul id="highlighters">
          <% for facet in @prism.facets %>
            <li class="facet"><input type="hidden" value="<%=facet.color%>"/><span class="facet <%=facet.color%>"></span><%=facet.category%></li>
          <% end %>
          <li class="facet eraser"><input type="hidden" value="delete"/><%= image_tag ('eraser2.png'), :id => 'eraser' %><%= t "highlight.eraser" %></li>
        </ul>
          <%= form_tag do %>
          <% for facet in @prism.facets %>
          <input type="hidden" value="" name="<%=facet.color%>_indices" id="<%=facet.color%>_indices"/>
          <% end %>
          <input type="submit" value="Save Highlights" />
        <% end %>
         <p id="highlighter-help"><%= @prism.prompt %><%= @document.description %></p>
      </div>
    </div>
</div>

