<% content_for :extra_head do %>
  <script type="text/javascript" charset="utf-8">
    $(function() {
      setup_visualize()
      select_facet($("li.vis_facet").eq(0))
    })
  </script>
<% end %>

<div class="page-margin">
  <p id="viz-intro"> Congratulations! You have arrived at the most magical of places--the Visualization page!
    <% if @usercounter != nil %>
      <%=@usercounter%> <% if @usercounter == 1%>user <% else%>users <%end%>contributed to this visualization.
    <% end %>
  </p>
  <div id="Prismabob">
    <h1><%= @document.title.html_safe %></h1>
    <h2><%= @document.author %></h2>

    <div class="text">
      <%= @document.content.html_safe %>
    </div>
  </div>
  <div id="sidebar">
    <div id="visualizations">
      <p id="visualization-help">Select one of the options below to display a visualization of collected data for this text.
      </p>
      <ul id="highlighters">
        <% for facet in @prism.facets %>
          <li class="vis_facet">
            <input type="hidden" class="color" value="<%=facet.color%>"/>
            <input type="hidden" value="<%=@frequencies[facet.color]%>" class="freq"/>
            <span class="facet <%=facet.color%>"></span><%=facet.category%></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
