<div style="display:none;">view updated</div>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script>
$(function() {
    setup_visualize();
    select_vis($("span.vis_selection")[0]);

    $( "#visualizations" ).accordion({heightStyle: "content"});
});

google.load("visualization", "1", {packages:["corechart"]});
</script>

<div id="Prismabob">
  <h1><%= @prism.title.html_safe %></h1>
  <h2><%= @prism.author %></h2>

  <div class="text">
    <%= @prism.content.html_safe %>
  </div>
</div>
<div id="sidebar">
  <%= render 'vizopts', :facets => @prism.facets, :frequencies => @frequencies %>
  <p><%= render 'cc_license', :license => @prism.license.downcase %></p>
  <p id="viz-count">
    <span><% if @prism.word_markings.map(&:user_id).uniq != nil %><%=@prism.word_markings.map(&:user_id).uniq.size %></span> <% if @prism.word_markings.map(&:user_id).uniq.size == 1%>user <% else%>users <%end%>contributed to this visualization.<% end %>
  </p>
</div>



