<% content_for :extra_head do %>
  <script type="text/javascript" charset="utf-8">
    $(function() {
      setup_visualize()
      select_facet($("li.vis_facet").eq(0))
    })
  </script>
<% end %>

<div class="page-margin">
    <div id="Prismabob">
    <h1><%= @document.title.html_safe %></h1>
    <h2><%= @document.author %></h2>

    <div class="text">
      <%= @document.content.html_safe %>
    </div>
  </div>
  <div id="sidebar">
    <div id="visualizations">
      <p id="visualization-help"><%= t "visualize.instructions" %> </p>
      <ul id="highlighters">
        <% for facet in @prism.facets %>
          <li class="vis_facet">
            <input type="hidden" class="color" value="<%=facet.color%>"/>
            <input type="hidden" value="<%=@frequencies[facet.color]%>" class="freq"/>
            <span class="facet <%=facet.color%>"></span><%=facet.category%></li>
        <% end %>
      </ul>
      <p id="viz-count">
      <span><% if @usercounter != nil %>
          <%=@usercounter%></span> <% if @usercounter == 1%>user <% else%>users <%end%>contributed to this visualization.
    <% end %>
    </p>
    <p id="sketchtext"><%= t 'visualize.sketches' %></p> 
    <ul id="viz-sketches">
      <li><a target="_blank" href="/assets/viz001.jpg">
        <img src="/assets/viz001.jpg" title="Visualization 1" alt="Visualization 1"/></a></li>
      <li><a target="_blank" href="/assets/viz002.jpg">
        <img src="/assets/viz002.jpg" title="Visualization 2" alt="Visualization 2"/></a></li>
      <li><a target="_blank" href="/assets/viz003.jpg">
        <img src="/assets/viz003.jpg" title="Visualization 3" alt="Visualization 3"/></a></li>
      <li><a target="_blank" href="/assets/viz004.jpg">
        <img src="/assets/viz004.jpg" title="Visualization 4" alt="Visualization 4"/></a></li>
      <li><a target="_blank" href="/assets/viz005.jpg">
        <img src="/assets/viz005.jpg" title="Visualization 5" alt="Visualization 5"/></a></li>
      <li><a target="_blank" href="/assets/viz006.jpg">
        <img src="/assets/viz006.jpg" title="Visualization 6" alt="Visualization 6"/></a></li>
   </ul>

    </div>
  </div>
</div>
