<% content_for :extra_head do %>
  <script type="text/javascript" charset="utf-8">
    $(function() {
      setup_visualize();
      select_facet($("li.vis_facet").eq(0));
    })
  </script>
<% end %>

    <div id="Prismabob">
    <h1><%= @prism.title.html_safe %></h1>
    <h2><%= @prism.author %></h2>

    <div class="text">
      <%= @prism.content.html_safe %>
    </div>
  </div>
  <div id="sidebar">
    <div id="visualizations">
      <p id="visualization-help"><%= t "visualize.instructions" %> </p>
		<ul>
			<li><span class="red-percent" style="color:red">0%</span></li>
			<li><span class="green-percent" style="color:green">0%</span></li>
			<li><span class="blue-percent" style="color:blue">0%</span></li>
   	</ul>
      <ul id="highlighters">
        <% for facet in @prism.facets %>
          <li class="vis_facet">
            <input type="hidden" class="color" value="<%=facet.color%>"/>
            <input type="hidden" class="order" value="<%=facet.order%>"/>
            <input type="hidden" value="<%=@frequencies[facet.order]%>" class="freq"/>
            <span class="facet <%=facet.order%> <%=facet.color%>"></span><%=facet.description%></li>
        <% end %>
  <p id="visualization-help"><%= t "visualize.instructions" %> </p>
     
      </ul>
      <p><%= render 'cc_license' %></p>
      <p id="viz-count">
      <span><% if @prism.word_markings.map(&:user_id).uniq != nil %>
          <%=@prism.word_markings.map(&:user_id).uniq.size %></span> <% if @prism.word_markings.map(&:user_id).uniq.size == 1%>user <% else%>users <%end%>contributed to this visualization.
    <% end %>
    </p>
    

    </div>
  </div>
</div>

