<div class="page-margin">
	<div id="userform">

    <h2><%= t 'log-in.up' %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

   <%= f.label :email %>
   <%= f.email_field :email %>

    <p id="privacy"> <%= t 'log-in.privacy_html' %></p>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <% if devise_mapping.rememberable? -%>
    <%= f.check_box :remember_me %> <%= f.label :remember_me %>
  <% end -%>

  <%= f.submit "Sign up" %>
<% end %>

<p><%= render "links" %></p>


	</div>
</div>
