<%= form_for(@img_doc) do |f| %>
  <% if @img_doc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@img_doc.errors.count, "error") %> prohibited this img_doc from being saved:</h2>

      <ul>
      <% @img_doc.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :img %><br />
    <%= f.text_field :img %>
  </div>
  <div class="field">
    <%= f.label :format %><br />
    <%= f.text_field :format %>
  </div>
  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_field :text %>
  </div>
  <div class="field">
    <%= f.label :span %><br />
    <%= f.text_field :span %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
