<h1><%= @user.email %></h1>

<p> This needs to be refactored</p>
<h3> Owned prisms:</h3>
<table>
  <tr>
    <th>Title</th>
    <th>Public</th>
  </tr>
  <% @prisms.each do |prism| %>
    <tr>
    <td><%= prism.title.html_safe %></td>

    <td class="highlight"> <%= link_to(highlight_path(prism), :class => 'highlight') do %>
      <%= image_tag('highlight_button.png') %>
    <% end %>
    </td>
    <td class="visualize">  <%= link_to(visualize_path(prism), :class => 'visualize') do %>
      <%= image_tag('visualize_button.png') %>
    <% end %>
    </td>

  </tr>
<% end %>
</table>

<!-- We don't need the user info do we? -->
<!-- <h3>User info:</h3>
<pre>
<%= @user.email %>
</pre> -->


<pre> 
  <% @highlighted_prisms.each do |stuff| %>
    <% prism = Prism.find_by_uuid(stuff) %>
    <%= link_to(prism.title, highlight_path(prism)) %>
  <% end %>

  <%= @highlighted_prisms %>
</pre
