<h1><%= @user.email %></h1>

<p> This needs to be refactored</p>
<table>
  <tr>
    <th>Title</th>
    <th>Public</th>
  </tr>
  <% @prisms.each do |prism| %>
    <tr>
      <td><%= prism.title.html_safe %></td>
      <td><%= prism.unlisted %></td>
    </tr>
  <% end %>
</table>
<h3>User info:</h3>
<pre>
<%= @user.inspect %>
</pre>

<h3>Prism info:</h3>
<pre>
<%= @prisms.inspect %>
</pre>
