<h1><%= t 'about.prism_title' %></h1><hr>
<p><%= t 'about.description_p1_html' %></p>
<blockquote><p><%= t 'about.description_p2' %></p></blockquote>
<p><%= t 'about.description_p3_html' %></p>
<p><%= t 'about.description_p4_html' %></p>
<p><%= t 'about.description_p5_html' %></p>

<h2><%= t 'about.scholarslab_title' %></h2><hr>
<p><%= t 'about.scholarslab_description_html' %></p>

<h2><%= t 'about.contributors_title' %></h2>
<div id="contributors-fellows"><p><%= t 'about.contributors_fellows_html' %></p></div>



<div id="Praxis">
  <h2><%= t 'about.praxis_title' %></h2><hr>
  <p><%= t 'about.praxis_description_html' %></p>
  <div id="contributors-advisors"><p><%= t 'about.contributors_advisors_html' %></p></div>
</div>



