<div class="callout teacher-notice">
  <h3 id="note-to-teachers" >A Note to Teachers</h3>

  <p class="notice">
  Prism was created by novice student developers in the <a href="http://praxis.scholarslab.org">Praxis Program</a>. 
  It has been recently discovered by the K-12 community, and is seeing heavy use right now. Prism is an experimental tool. 
  It <strong>may</strong> break. It may be down during your classtime. We can make no guarantees about availability, but are glad you are helping to test the tool!
  </p>

  <p>&ndash; The Praxis Team</p>
</div>

<h1><%= t 'about.prism_title' %></h1><hr>
<p><%= t 'about.description_p1_html' %></p>
<p><%=t 'about.description_p1half_html' %></p>
<blockquote><p><%= t 'about.description_p2' %></p></blockquote>
<p><%= t 'about.description_p3_html' %></p>
<p><%= t 'about.description_p4_html' %></p>
<p><%= t 'about.description_p5_html' %></p>
<h3>Future Directions</h3>
<hr/>
<p><%= t 'about.description_p6_html' %></p>
<h2><%= t 'about.contributors_title' %></h2>
<hr/>
<div id="contributors-fellows"><p><%= t 'about.contributors_fellows_html' %></p></div>

<div id="Praxis">
  <h2><%= t 'about.praxis_title' %></h2><hr>
  <p><%= t 'about.praxis_description_html' %></p>

  <h2><%= t 'about.scholarslab_title' %></h2><hr>
  <p><%= t 'about.scholarslab_description_html' %></p>
  <div id="contributors-advisors"><p><%= t 'about.contributors_advisors_html' %></p></div>

</div>

