<div class="page-margin">
<div id="page-content">
  <h1><%= t 'about.prism_title' %></h1> 
  <p><%= t 'about.description_p1_html' %></p>
  <p class="blockquote"><%= t 'about.description_p2' %></p>
  <p><%= t 'about.description_p3_html' %></p>
  <p><%= t 'about.description_p4_html' %></p>
  <p><%= t 'about.description_p5' %></p>

<h1><%= t 'about.scholarslab_title' %></h1>
  <p><%= t 'about.scholarslab_description_html' %></p>

  <h1><%= t 'about.contributors_title' %></h1>
  <div id="contributors-fellows"><p><%= t 'about.contributors_fellows_html' %></p></div>
  <div id="contributors-advisors"><p><%= t 'about.contributors_advisors_html' %></p></div>

</div>

  <div id="Praxis">
    <h2><%= t 'about.praxis_title' %></h2>
    <p><%= t 'about.praxis_description_html' %></p>


  </div>

</div>

