<div class="page-margin">
  <div id="page-content">
    <h1>Future Directions</h1> 

    <h2>Thinking About Texts</h2>
    <p>Although the 2012-2013 eventually chose to focus our efforts on expanding the word-based capabilities of Prism, we had many discussions throughout year about expanding our conception of “texts” to include more than the written word.   Could Prism be used to generate collaborative readings of photographs, maps, musical scores, or audio clips?   In response to this question, we came up with a number of ideas. Here, we have chosen to share some of those possibilities.</p> 

    <h2>Interpreting Photographs</h2>
    <p>There already exist a number of promising image-based web applications.   Projects such as <a href= "http://www.snapshotserengeti.org/">Snapshot Serengeti</a> use crowd sourcing to complete scholarly and research based projects.  Others, such as <a href=" http://lab.softwarestudies.com/p/imageplot.html">ImagePlot</a>, identify macro patterns through a series of images.  In addition, there are a number of applications which allow you to annotate images as an individual and perhaps view other annotations of the same document. (For example, see  <a href="http://mith.umd.edu/tile/">Tile</a>, <a href="http://tapor.uvic.ca/~mholmes/image_markup/index.php">Uvic</a>, and <a href="http://a.nnotate.com/">A.nnotate</a>.)   However, most of these applications don’t allow you to overlay multiple annotations and to generate a collaborative interpretation. That’s where Prism could come in.</p>

    <p>As a test case, we tried using the transparency game on an image.  Drawing on her own research interests, Cecilia presented us with the following image.  In a manner similar to the transparency game (see about page), we were then asked to highlight areas of the image that we identified as “southern.”  The exercise resulted in some surprising results.  …..(what were those results)</p>

    <p><%= image_tag "southernimage.jpg" %></p>

    <p>How can this exercise be executed in a digital format?  There are two basic problems.  How will users be able to interact with the image and how will the resulting data then be aggregated and visualized?    We discussed several options for highlighting images, but there are two which seem to hold the most promise.  First, the image could be divided up into various sections which the users can “tag” with various categories, much like the tagging feature on facebook.  To visualize the collaborative interpretation, we could then display the “winning” category for each section, much like the current option to display the winning facet for each word in Prism.  Secondly, users could be given a paintbrush tool which would allow them to highlight whichever elements on the page they see fit.  In that case, we could visualize the resulting interpretation through a heat map layered over the photograph.  Those portions that receive the most marking would turn red and the least blue, for example. </p>

    <p>More conversation about the potential capabilities of a collaborative interpretation tool like Prism coming May 6th! </p>
    <p> In the mean time, check out Cecilia's <a href= "http://www.scholarslab.org/grad-student-research/images-in-prism/">blog post</a> on the collaborative interpretation of images! </p>

    <h2>Prism and Music</h2>

    <h2>Incorporating Existing Technology</h2> 
    








    	<p id="sketchtext"><%= t 'visualize.sketches' %></p>
    <ul id="viz-sketches">
      <li>
      <%= link_to image_tag('viz001.jpg', :width => "50%"), image_path('viz001.jpg') %>
      </li>
      <li>
      <%= link_to image_tag('viz002.jpg', :width => "50%"), image_path('viz002.jpg') %>
      </li>
      <li>
      <%= link_to image_tag('viz003.jpg', :width => "50%"), image_path('viz003.jpg') %>
      </li>
      <li>
      <%= link_to image_tag('viz004.jpg', :width => "50%"), image_path('viz004.jpg') %>
      </li>
      <li>
      <%= link_to image_tag('viz005.jpg', :width => "50%"), image_path('viz005.jpg') %>
      </li>
      <li>
      <%= link_to image_tag('viz006.jpg', :width => "50%"), image_path('viz006.jpg') %>
      </li>
    </ul>



</div>

</div>
