<div class="page-margin">
  <div id="page-content">
    <h1>Future Directions</h1> 
    <p>More conversation about the potential capabilities of a collaborative interpretation tool like Prism coming May 6th! </p>
    <p> In the mean time, check out Cecilia's <a href= "http://www.scholarslab.org/grad-student-research/images-in-prism/">blog post</a> on the collaborative interpretation of images! <p>


    	<p id="sketchtext"><%= t 'visualize.sketches' %></p>
    <ul id="viz-sketches">
      <li>
      <%= link_to image_tag('viz001.jpg', :width => "50%"), image_path('viz001.jpg') %>
      </li>
      <li>
      <%= link_to image_tag('viz002.jpg', :width => "50%"), image_path('viz002.jpg') %>
      </li>
      <li>
      <%= link_to image_tag('viz003.jpg', :width => "50%"), image_path('viz003.jpg') %>
      </li>
      <li>
      <%= link_to image_tag('viz004.jpg', :width => "50%"), image_path('viz004.jpg') %>
      </li>
      <li>
      <%= link_to image_tag('viz005.jpg', :width => "50%"), image_path('viz005.jpg') %>
      </li>
      <li>
      <%= link_to image_tag('viz006.jpg', :width => "50%"), image_path('viz006.jpg') %>
      </li>
    </ul>



</div>

</div>
