<div class="page-margin">

<%= image_tag ('fakeviz4.png'), :id => 'homepic' %>
<div id="index-text">
	<h1><%= t 'index.welcome'%></h1>
  <p> <%=t 'index.about_text_html'%></p>
 </div>

 <ul id="texts" class="mention">
  <% @prisms.each do | prism | %>
    <li>
    <div class="doc-display">
      <span class='doctitle'><%= prism.document.title.html_safe %></span>
      <span class='author'><%= prism.document.author %></span>
     <div class="doc-tools">
      <%= link_to(highlight_path(prism), :class => 'highlight') do %>
        <%= t 'index.highlight' %>
      <% end %>
      <%= link_to(visualize_path(prism), :class => 'visualize') do %>
        <%= t 'index.visualize' %>
      <% end %>
      </div>
     </div>
    </li>
  <% end %>
</ul>

</div>

