<div class="page-margin">
<h1><%= t 'index.welcome'%></h1>

<div class="warn">
  <p><%= t 'index.in_development'%></p>
</div>
<%= image_tag ('hedgehogtutu.jpg'), :id => 'homepic' %>
<p id=index-text> <%=t 'index.about_text'%></p>

<ul id="texts">
  <% @prisms.each do | prism | %>
    <li>
    <div class="doc-tools">
      <%= link_to(highlight_path(prism), :class => 'highlight') do %>
        <%= t 'index.highlight' %><span></span>
      <% end %>
      <%= link_to(visualize_path(prism), :class => 'visualize') do %>
        <span></span><%= t 'index.visualize' %>
      <% end %>
     </div>
    <div class="doc-display">
      <%= link_to prism.document.title, highlight_path(prism) %>
      <%= prism.document.author %>
     </div>
    </li>
  <% end %>
</ul>

</div>

