
<h1><%=t 'index.welcome'%></h1>

<div class="warn">
  <p><%= t 'index.in_development'%></p>
</div>
<iframe width="280" height="172" src="http://www.youtube.com/embed/UGz8jcbJjRw?rel=0" frameborder="0" allowfullscreen></iframe>
<p id=index-text> <%=t 'index.about_text'%></p>

<ul id="texts">
  <% @documents.each do | document | %>
    <li>
    <div class="doc-tools">
      <%= link_to t(:highlight), highlight_path(document), :class => 'highlight' %>
      <%= link_to t(:visualize), visualize_path(document), :class => 'visualize'  %>
     </div>
    <div class="doc-display">
      <%= link_to document.title, document %>
      <%= document.author %>
    </div>
    </li>
  <% end %>
</ul>



