<div class="page-margin">

<%= image_tag ('fakeviz4.png'), :id => 'homepic' %>
<div id="index-text">
	<h1><%= t 'index.welcome'%></h1>
	<p> <%=t 'index.about_text_html'%></p>
</div>

<ul id="texts">
  <% @prisms.each do | prism | %>
    <li>
    <div class="doc-display">
       <div class="doc-tools">
      <%= link_to(highlight_path(prism), :class => 'highlight') do %>
        <%= t 'index.highlight' %><span></span>
      <% end %>
      <%= link_to(visualize_path(prism), :class => 'visualize') do %>
        <span></span><%= t 'index.visualize' %>
      <% end %>
     </div>
     <%= link_to(highlight_path(prism), :class => 'doctitle') do %>
       <%= prism.document.title %>
       <% end %>
       <%= prism.document.author %>
          </div>
    </li>
  <% end %>
</ul>

</div>

