<p id="notice"><%= notice %></p>

<p>
  <b>Vector:</b>
  <%= @img_span.vector %>
</p>

<p>
  <b>Session:</b>
  <%= @img_span.session %>
</p>

<p>
  <b>Tag:</b>
  <%= @img_span.tag %>
</p>

<p>
  <b>Doc:</b>
  <%= @img_span.doc %>
</p>


<%= link_to 'Edit', edit_img_span_path(@img_span) %> |
<%= link_to 'Back', img_spans_path %>
