<%= form_for(@text_span) do |f| %>
  <% if @text_span.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@text_span.errors.count, "error") %> prohibited this text_span from being saved:</h2>

      <ul>
      <% @text_span.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start %><br />
    <%= f.number_field :start %>
  </div>
  <div class="field">
    <%= f.label :length %><br />
    <%= f.number_field :length %>
  </div>
  <div class="field">
    <%= f.label :session %><br />
    <%= f.text_field :session %>
  </div>
  <div class="field">
    <%= f.label :tag %><br />
    <%= f.text_field :tag %>
  </div>
  <div class="field">
    <%= f.label :doc %><br />
    <%= f.text_field :doc %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
