<p><%= t 'log-in.hello' %> <%= @resource.email %>!</p>

<p><%= t 'log-in.requested' %></p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><%= t 'log-in.ignore' %></p>
<p><%= t'log-in.wont' %></p>
