<footer> 
<div id=footer-links>

  <a href="http://creativecommons.org/licenses/by/3.0/" id="license">
    <img src="http://i.creativecommons.org/l/by/3.0/88x31.png" title="CC-By" alt="CC-By"/>
  </a>

  <a href="http://scholarslab.org" id=slab-logo>
  <img src="http://static.scholarslab.org/images/slab-logo-rgb-125px.png" title="Scholars' Lab" alt="Scholars' Lab"/>
</a>

  <a href="http://praxis.scholarslab.org" id=praxis-logo>
  <img src="http://a0.twimg.com/profile_images/1511324427/Screen_shot_2011-08-24_at_10.21.26_AM_reasonably_small.png" title="Praxis Program at the UVa Scholars' Lab" alt="Praxis Program"/>
</a>

  <a href="http://lib.virginia.edu/" id=uva-lib-logo>
   <img src="http://static.scholarslab.org/images/uvalib.png" title="University of Virginia Libraries" alt="University of Virginia Libraries"/>
</a>
</div>

 <div id="footer-nav">
    <a href="/"><%= t 'footer.home'%></a>
    <a href="/pages/about"><%= t 'footer.about' %></a>
</div>
<div id="footer-langs">
    <%= link_to('English', url_for(:locale => 'en')) %>
    <%= link_to('Español', url_for(:locale => 'es')) %>
    <%= link_to('Français', url_for(:locale => 'fr')) %>
    <%= link_to('Deutsch', url_for(:locale => 'de')) %>
  </div>

</footer>
