<header>
<h1><a href="/"><%= image_tag('prism-logo.png') %></a></h1>
<p class="description"><%= t 'header.description' %></p>

<% if user_signed_in? %>
  <%= t 'header.signed_in'%><%= current_user.email %>.
<%= link_to t('header.sign_out'), destroy_user_session_path, :method => :delete %>
<% else %>
<%= form_for("user", :url => user_session_path) do |f| %>
<%=t 'header.form_email'%>
<%= f.text_field :email %>
<%=t 'header.form_username'%>
<%= f.label t('header.remember_me') %>
<%= f.submit t('header.sign_in') %>
<%= link_to t('header.forgot'), new_password_path('user') %>
<% end %>
<%= link_to t('header.register'), new_user_registration_path %>
<% end %>

</header>
