<span id="corner-banner">Official Launch<br>May 3rd!</span>

<% if user_signed_in? %>
<div id="user_meta">
        <!-- The following code shows the user's email if they are signed in. !-->
          <%= current_user.email %> |
          <%= link_to t('header.sign_out'), destroy_user_session_path, :method => :delete, :id => 'sign-out' %>
        <!-- end. !-->
</div>

<% end %>


<nav>
  <ul>
    <li>
      <%= link_to t('About'), about_path %>
    </li>
    <li>
      <%= link_to t('Browse'), prisms_path %>
    </li>
    <li>
    <% if user_signed_in? %>
        <%= link_to t('myPrisms'), users_path(current_user) %>
    <% else %>
          <%= link_to t('header.sign_in'), new_user_session_path %>
    <% end %>

    </li>
    
</ul>
</nav>

<header>
<div class="header">

  <%= link_to image_tag('LOGO.png'), home_path %>
  <% if current_page?('/') %>
  <p class="motto">A Tool for Collaborative Interpretation of Texts</p>
  <% end %>

</div>


</header>



<!--[if lt IE 9]>
<p id="browser-upgrade">Prism is built to support at least Internet Explorer 9. <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p>
<![endif]-->

