<% if user_signed_in? %>
<div id="user_meta">
        <!-- The following code shows the user's email if they are signed in. !-->
          <%= current_user.email %>.
          <%= link_to t('header.sign_out'), destroy_user_session_path, :method => :delete, :id => 'sign-out' %>
        <!-- end. !-->
</div>

<% end %>


<nav>
  <ul>
    <li>
      <%= link_to t('About'), about_path %>
    </li>

    <li>
      <a href="browse" target="_self">Browse</a>
    </li>

    <li>
    <% if user_signed_in? %>
        <a href="myprism">myPrism</a>
    <% else %>
          <%= link_to t('header.sign_in'), new_user_session_path %>
    <% end %>

    </li>
    
</ul>
</nav>

  

<header>
<div class="header">

<link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>

<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400' rel='stylesheet' type='text/css'>

  <h><%= link_to image_tag('LOGO.png'), home_path %></h>

  <div id="user-meta">
  
  </div>
</div>


</header>



<!--[if lt IE 9]>
<p id="browser-upgrade">Prism is built to support at least Internet Explorer 9. <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p>
<![endif]-->

