<header>
<h1><a href="/"><%= image_tag('prism-logo.png') %></a></h1>
<p class="description"><%= t 'header.description' %></p>

<nav role="primary-nav">
  <ul>
    <li><a href="/"><%=t 'header.link_home'%></a></li>
    <li><a href="/instructions.html"><%=t 'header.link_instructions'%></a></li>
    <li><a href="/documents.html"><%=t 'header.link_documents'%></a></li>
    <li><a href="/about.html"><%=t 'header.link_about'%></a></li>
  </ul>
</nav>
<% if user_signed_in? %>
  <%= t 'header.signed_in'%><%= current_user.email %>.
<%= link_to t('header.sign_out'), destroy_user_session_path, :method => :delete %>
<% else %>
<%= form_for("user", :url => user_session_path) do |f| %>
<%=t 'header.form_email'%>
<%= f.text_field :email %>
<%=t 'header.form_username'%>
<%= f.password_field :password %>
<%= f.check_box :remember_me %>
<%= f.label t('header.remember_me') %>
<%= f.submit t('header.sign_in') %>
<%= link_to t('header.forgot'), new_password_path('user') %>
<% end %>
<%= link_to t('header.register'), new_user_registration_path %>

<% end %>

</header>
