<header>
<h1><a href="/"><%= image_tag('prism-logo.png') %></a></h1>
<p class="description">Prism is a set of digital tools for crowdsourcing interpretation. It is an ongoing project of the Praxis Program at the University of Virginia Scholars’ Lab.</p>

<nav role="primary-nav">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/instructions.html">Instructions</a></li>
    <li><a href="/documents.html">Documents</a></li>
    <li><a href="/about.html">About</a></li>
  </ul>
</nav>
<% if user_signed_in? %>
Signed in as <%= current_user.email %>.
<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
<% else %>
<%= form_for("user", :url => user_session_path) do |f| %>
Email:
<%= f.text_field :email %>
Password:
<%= f.password_field :password %>
<%= f.check_box :remember_me %>
<%= f.label :remember_me %>
<%= f.submit 'Sign in' %>
<%= link_to "Forgot your password?", new_password_path('user') %>
<% end %>
<%= link_to "Sign up", new_user_registration_path %>

<% end %>

</header>
