<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <title><%= title %></title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="icon" type="image/png" href="<%= asset_path('favicon.png') %>">
  <link rel="apple-touch-icon" type="image/png" href="<%= asset_path ('apple-touch-icon.png')%>">
  <%= stylesheet_link_tag "application", :media => nil %>
  <%= csrf_meta_tags %>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.5.3/modernizr.min.js"></script>
  <%= javascript_include_tag "application" %>
  <%= yield :extra_head %>
  <script type="text/javascript">
    var _gaq=_gaq||[];_gaq.push(['_setAccount','UA-12081576-4']);_gaq.push(['_trackPageview']);(function(){var ga=document.createElement('script');ga.type='text/javascript';ga.async=true;ga.src=('https:'==document.location.protocol?'https://ssl':'http://www')+'.google-analytics.com/ga.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ga,s);})();
  </script>
</head>
<body>
  <div id="container">

    <%= render 'layouts/header' %>
    <%= render 'layouts/flashmessages'%>
    <div id="main" role="main">
      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>
  </div>
<!--[if lt IE 7 ]>
  <script defer src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
  <script defer>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
<![endif]-->
</body>
</html>
